.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  padding-top: 46px;
  font-size: 20px;
  text-transform: uppercase;
}

.contact-form__input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.contact-form__input-group--cat-info {
  padding: 0 110px;
}

.contact-form__about-cat {
  @include flex;

  flex-direction: column;
  padding: 0;
  border: 1px solid $special-dark-grey;
  align-self: start;
}

.contact-form__about-cat--main-info {
  border: none;
}

.contact-form__about-cat--optional-info {
  padding: 32px 87px 5px 87px;
  // margin-left: 18px;
}

.contact-form__about-owner {
  border: none;
  padding: 76px 110px 0 110px;
  border-top: 2px solid $green;
}

.contact-form__legend {
  text-transform: none;
  box-shadow:
    40px 0 $white,
    -40px 0 $white;
}

.contact-form__comments {
  width: 100%;
  padding: 11px 20px;
  border: 1px solid $special-dark-grey;
}

.contact-form__container {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 13px;
  align-items: center;
  margin-bottom: 20px;
}

.contact-form__input {
  padding: 15px 20px;
  border: 1px solid $special-dark-grey;
}

.contact-form__label {
  position: relative;
  margin-bottom: 29px;

  &::before {
    position: absolute;
    content: "";
    left: -60px;
    top: -9px;
    width: 18px;
    height: 18px;
    border: 11px solid $white;
    border-radius: 50%;
    box-shadow: $special-shadow;
    background-color: $white;
  }
}

.contact-form__input:checked + label::before {
  background-color: $green;
}

.contact-form__label--additional {
  &:first-of-type {
    margin-left: 60px;
  }

  &::before {
    border-radius: 0;
  }
}

.contact-form__input-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
  align-items: center;
  flex: 1;
}

.contact-form__checkbox-container {
  @include flex;

  justify-content: space-between;
}
