.intro {
  @include flex;

  padding: 56px 80px;
  position: relative;
  flex-basis: 100%;
}

.intro__title {
  @include title;

  flex-basis: 50%;
  margin-bottom: 20px;
}

.intro__text {
  flex-basis: 100%;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.intro__image {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-29%, -50%);
}
