.products__title {
  margin: 51px 0 85px 0;
}

.products__title--extra {
  margin: 30px 0 78px 0;
}

.products--extra {
  display: grid;
  grid-template-columns: 1fr 245px;
  column-gap: 79px;
  padding-top: 45px;
}
