.program-selection {
  padding: 0 0 82px 0;
}

.program-selection__title {
  padding: 0 110px;
  margin-bottom: 56px;
}

.program-selection__text {
  padding: 0 110px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
